.page {
    padding: 28px 0 24px;
    background-color: #2a2c2f;
    display: flex;
    flex-direction: column;
    align-items: center;


    color: #FFFFFF;

    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1184px отцентрировали весь контент */
    font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 752px ) {
    .page {
        padding: 16px 0 24px;
    }
}


/*
1024
padding: 28px 0 24px;

*/

/*
768
padding: 28px 0 24px;
*/

/*
320
padding: 16px 0 24px;
*/