.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr); /*284px*/
    grid-template-rows: repeat(3, 213px); /*213px*/
}

@media screen and (max-width: 1185px ) {
    .photo-grid {
        max-width: 928px;
        max-height: 942px;
        grid-gap: 14px;
        grid-template-columns: repeat(3, 1fr); /*284px*/
        grid-template-rows: repeat(4, 225px); /*213px*/
    }
}

@media screen and (max-width: 929px ) {
    .photo-grid {
        max-width: 720px;
        max-height: 1664px;
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr); /*284px*/
        grid-template-rows: repeat(6, 264px); /*213px*/
    }
}

@media screen and (max-width: 721px ) {
    .photo-grid {
        max-width: 288px;
        max-height: 2724px;
        grid-gap: 16px;
        grid-template-columns: 1fr; /*284px*/
        grid-template-rows: repeat(12, 216px); /*213px*/
    }
}
