.photo-grid {
    width: 100%;
    max-width: calc(100% - 96px);
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media screen and (max-width: 1200px ) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 1000px ) {
    .photo-grid {
        max-width: calc(100% - 48px);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 500px ) {
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-gap: 12px;
    }
}