.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

@media screen and (max-width: 1000px ) {
    .places {
        gap: 73px;
        /*в фигме есть 2px разницы в gap между  places и cover*/
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 760px ) {
    .places {
        gap: 50px;
    }
}