.lead {
    margin: 0;
    padding: 0;
    width: calc(100% - 296px);
    min-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1080px ) {
    .lead {
        width: calc(100% - 96px);
        max-width: 984px;
        min-width: 720px;
    }
}

@media screen and (max-width: 1023px ) {
    .lead {
        width: 100%;
        max-width: 928px;
        min-width: 320px;
    }
}
