.header  {
    margin: 0;
    padding: 0;
    max-width: 1148px;
    min-width: 928px;
    width: calc(100% - 96px);
    background-color: #9db5d9;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /*transition: width 0.5s; !*linear;*!*/
}

/*
1024
width: calc(100% - 96px);
padding: 28px 0 24px;

*/

/*
768
width: calc(100% - 48px);
padding: 28px 0 24px;
*/

/*
320
padding: 16px 0 24px;
width: calc(100% - 32px);
*/

@media screen and (max-width: 976px ) {
    .header {
    width: calc(100% - 48px);
        max-width: 928px;
        min-width: 720px;
    }
}

@media screen and (max-width: 752px ) {
    .header {
        width: calc(100% - 32px);
        max-width: 720px;
        min-width: 288px;
    }
}



