.lead__title {
    margin: 0 0 32px;
    padding: 0;
    color: #FFFFFF ;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    max-width: 720px;
    text-align: center;
}

@media screen and (max-width: 721px ) {
    .lead__title {
        margin: 0 0 16px;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;

    }
}