.intro {
    margin: 0;
    padding-left: 148px;
    max-width: 690px;
    align-self: start;
}

@media screen and (max-width: 1200px ) {
    .intro {
        padding-left: 48px;

    }
}

@media screen and (max-width: 1000px ) {
    .intro {
        padding-left: 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 760px ) {
    .intro {
        padding-left: 16px;
    }
}




