.cover {
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

@media screen and (max-width: 1279px ) {
    .cover {
        min-height: calc(100vw / 1.6);
    }
}