.cover__overlay {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
    align-self: stretch;
    background-color: #2a2c2f4d;
    transition: background-color 2s;
}

.cover__overlay:hover {
    background-color: #2a2c2fcc;
}

@media screen and (max-width: 721px ) {
    .cover__overlay {
        gap: 16px;
    }
}