.footer {
    width: 100%;
    max-width: calc(100% - 98px);
    display: flex;
    justify-content: space-between;
    align-self: center;
}

@media screen and (max-width: 1023px ) {
    .footer {
        max-width: calc(100% - 48px);

    }
}

@media screen and (max-width: 767px) {
    .footer {
        /*width: calc(100% - 48px);*/
        max-width: max-content;
        flex-direction: column;
        gap: 48px;
        align-self: start;
        padding-left: 16px;
    }
}